<footer>

  <p>Published by Heroku</p>
<p>Open Source Website | Want to see the Source Code? <a href=https://github.com/countchrisdo/GameGram> <u> Click Me! </u> </a>

</footer>
 </main>
</body>
</html>