<h1><%= message %></h1>
<h2>A team of highly trained monkeys has been dispatched to deal with this situation</h2>
<img src="https://d3sujgifhk94se.cloudfront.net/wp-content/uploads/2019/07/23084224/Real-coding-langauges.png" alt="CodeMonkey.img">
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>