* {
  padding: .5vh;
}

body
{
  background-color: #292E34;
  color: whitesmoke;
}

a:visited {
  color: white;
}

a:hover {
  color: cyan;
}

.icon {
  width: 50px;
  object-fit: contain;
  margin-right: auto;
}

.darktext {
  color: #292E34;
}

.lighttext {
  color: whitesmoke;
}