body
{
  background-color: #292E34;
  color: whitesmoke;
  margin: 1em;
}

h1:hover {
  color: cyan;
}
a:visited {
  color: white;
}

a:hover {
  color: cyan;
}

.icon {
  width: 50px;
  object-fit: contain;
  margin-right: auto;
}

.darktext {
  color: #292E34;
}

.lighttext {
  color: #25f4ee;
}

#IMGDiv {
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.screenshot {
  margin: 10px;
  height: 250px;
  box-shadow: 3px 3px 2px #25f4ee;
  border: solid #25f4ee 1px;
}

.screenshot-user img{
  height: 50px;
  width: auto;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  }
