* {
  padding: .5vh;
}

body
{
  background-color: #292E34;
  color: whitesmoke;
}

h1:hover {
  color: cyan;
}
a:visited {
  color: white;
}

a:hover {
  color: cyan;
}

.icon {
  width: 50px;
  object-fit: contain;
  margin-right: auto;
}

.darktext {
  color: #292E34;
}

.lighttext {
  color: #25f4ee;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color:#FFFFFF; 
  font-size:1.5em;
  text-align: center;
  }