<%- include('../partials/header') %>

<!-- <h2>Before adding, please ensure that the Game is not in the following list:</h2> -->

<h1>Game Gram</h1>

<h2>Before adding, please ensure that the Game is not already listed on GameGram</h2>

<h1>Add your game</h1>

<section id="addGameForm">
<form  action="/games" method="POST" >
  <label>Title:</label>
  <input type="text" name="title">
  <label>Genre:</label>
  <select name="genre" id="inputGenre">
    <option value="ACTION">ACTION</option>
    <option value="RPG">RPG</option>
    <option value="STRATEGY">STRATEGY</option>
    <option value="SIMULATION">SIMULATION</option>
    <option value="SPORTS">SPORTS</option>
    <option value="ADVENTURE">ADVENTURE</option>
    <option value="CASUAL">CASUAL</option>
  </select>
  <div>
    <input class="submitBtn" type="submit" value="Add Game">
</div>
</form>
</section>

<%- include('../partials/footer') %>