<%- include('../partials/header') %>

<section id="show-page">
  <div>Title: </div>
  <div><%= game.title %></div>
  
</section>

<img src="/routes/public/images/88c44710-3307-4fc6-b97a-522585bbd469.png" alt="">
 
<br><br>

<h2>Screenshots</h2>

<p>Upload</p>
      <form method="post" action="upload/post" enctype="multipart/form-data">
        <input type="file" name="image" /><br /><br />
        <button type="submit" name="upload">Upload</button>
      </form>


  <div id="IMGDiv" >
      <img src="/images/ExzYTbrWEAE6VRi.jpeg" alt="testimg1">
      <img src="/images/Ewopr9wW8AoZHay.jpeg" alt="testimg2">
      <img src="/images/EwodEeRXAAkTbi5.jpeg" alt="testimg3">
  </div> 

<%- include('../partials/footer') %>