<%- include('../partials/header') %>

<section id="show-page">
  <div>Title: </div>
  <div><%= game.title %></div>
  
</section>

<img src="/routes/public/images/88c44710-3307-4fc6-b97a-522585bbd469.png" alt="">
 
<br><br>

<h2>Screenshots</h2>

  <div class="row">
    <div class="column">

      <img src="/routes/public/images/88c44710-3307-4fc6-b97a-522585bbd469.png" alt="">

    </div>
    <div class="column">

      <img src="/routes/public/images/0dfe54b5-5142-4913-b3ae-8ccccdf5d6a3.png" alt="">

    </div>
    <div class="column">

      <img src="/routes/public/images/0dfe54b5-5142-4913-b3ae-8ccccdf5d6a3.png" alt="">

    </div>
  </div> 

<%- include('../partials/footer') %>