<%- include('../partials/header') %>

<section id="show-page">
  <div>Title: </div>
  <div><%= game.title %></div>
  
</section>
 
<br><br>

<h2>Screenshots</h2>

<section> 

<img src="https://th.bing.com/th/id/R3bb0ecb7104dd0262dc5ceef9a23d99c?rik=gai23BQZGOq0KQ&pid=ImgRaw" alt="">

</section>

<%- include('../partials/footer') %>